.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-projects {
  width: 1000px;
  height: 200px;
}

.projects-projects {
  height: 100px;
  width: 275px;
  transform: rotate(-5deg);
}

.back-arrow {
  height: auto;
  width: 250px;
  margin-top: 25px;
}

.back-arrow:hover {
  -webkit-transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  transform: rotateZ(8deg);
}
