nav {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 75%;
    height: auto;
  }

  section {
    display: flex;
    margin-top: 20px;
    justify-content: center;

    a {
      height: 50px;
      width: 50px;
      &:last-of-type {
        width: auto;
      }
      img {
        height: 100%;
        width: 100%;
        transform: rotate(5deg);
      }

      &:hover {
        -webkit-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
      }
    }
  }
}

// .about-nav {
//   height: 100px;
//   width: 250px;
//   margin-top: 15px;
//   transform: rotate(5deg);
// }

// .about-nav:hover {
//   -webkit-transform: rotateZ(15deg);
//   -ms-transform: rotateZ(15deg);
//   transform: rotateZ(15deg);
// }

// .projects-nav {
//   height: 100px;
//   width: 275px;
//   margin-top: 0px;
//   transform: rotate(-5deg);
// }

// .projects-nav:hover {
//   -webkit-transform: rotateZ(5deg);
//   -ms-transform: rotateZ(5deg);
//   transform: rotateZ(5deg);
// }

// section {
//   display: flex;
//   margin-top: 10px;
//   justify-content: center;
//   margin-right: 25px;
// }

// img {
//   height: 50px;
//   width: 50px;
// }

// img:last-of-type {
//   width: auto;
// }

// a:hover {
//   -webkit-transform: rotateZ(-30deg);
//   -ms-transform: rotateZ(-30deg);
//   transform: rotateZ(-30deg);
// }
