.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-banner {
    width: 75%;
    height: auto;
  }

  &-goback {
    width: 50%;
    margin-top: 20px;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    @media (max-width: 500px) {
      flex-direction: column;
    }
    
    img {
      width: 25%;
      border-radius: 50%;
      border: solid #FA77B7 10px;
      @media (max-width: 500px) {
        width: 50%;
      }
    }
  }

  p {
    width: 40%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

    @media (max-width: 500px) {
      width: 75%;
    }
  }
}