.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner {
    width: 100%;
  }
  .projects {
    width: 50%;
  }
  .goback {
    width: 50%;
  }

  .react-multi-carousel-list {
    width: 90%;
    padding-right: 50px;
    position: unset !important;
  }

  .react-multi-carousel-item.react-multi-carousel-item--active {
    // width: 50%;
    margin: 10px;
  }

  .arrow.right,
  .arrow.left {
    position: absolute;
    border: none;
    background-color: transparent;
  }

  .arrow.right {
    right: 0;
  }

  .arrow.left {
    left: 0;
    transform: rotate(180deg);
  }

  .project {
    background-image: url('./assets/square.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    width: 250px;
    height: 225px;
    margin: 25px;
    @media (max-width: 480px) {
      width: 160px;
      height: 140px;
    }

    img {
      width: 100%;
    }
  }
}
